@font-face {
     font-family: Alegreya;
        src: url('Alegreya-Regular.ttf') format('truetype');
  }



body, html {
    font-family: Alegreya, sans-serif;

      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #151515;
      color: white;
}

.custom-cursor {
  cursor: url('mause.png'), auto;
}

  a {
    text-decoration: none;
        font-size: 24px;

  }